@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Inter", monospace; 
  --color-primary: #106635;
  --color-secondary: #2563eb;
  --color-accent: #73a9c3;
}


